.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

@media screen and (min-width: 768px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}